[
 [:pause 1000]
 ^{:caption "Whisker menu button"} [:click-left-on :?]
 [:pause 300]
 [:type-string "firefox"]
 [:type-key :enter]
 [:pause 2000]
 [:type-string "gpsoft.dip.jp/gpblog"]
 [:type-key :enter]
 [:pause 2000]
 [:loop 35 [[:type-key :down] [:pause 300]]]
 [:pause 2000]
 ^{:caption "Firefox close button"} [:click-left-on :?]
 [:pause 1000]
 ^{:caption "Whisker menu button"} [:click-left-on :?]
 [:pause 300]
 [:type-string "vim"]
 [:type-key :enter]
 [:pause 2000]
 [:type-string "i"]
 [:loop 5 [[:type-key :enter]]]
 [:type-string "     Thanks!!"]
 [:type-key :esc]
 ]
